---
import InputsForm from "../../../components/InputsForm.astro";
import Layout from "../../../layout/Layout.astro";
import axios from "axios";

const { id } = Astro.params;
const response = await axios.get(`http://localhost:3000/persona/${id}`);
const user = response.data;
console.log(user)
---

<Layout route="user" title="Empresa | Personas">
	<div class=" mx-auto max-w-screen-lg">
        <div class="h-20" />
        <input type="hidden" id="id" value={id} >
        <InputsForm 
            formTitle="Editar nuevo usuario"
            username={user.cPerNombre}
            lastname={user.cPerApellido}
            address={user.cPerDireccion}
            birthdate={user.cPerFecNac}
            age={user.nPerEdad}
            salary={user.nPerSueldo}
            status={user.cPerEstado}
        />
    </div>

    <script>
        import axios from "axios";

        document.querySelector('#userForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const username = (document.querySelector('#username') as HTMLInputElement).value;
            const lastname = (document.querySelector('#lastname') as HTMLInputElement).value;
            const address = (document.querySelector('#address') as HTMLInputElement).value;
            const birthdate = (document.querySelector('#birthdate') as HTMLInputElement).value;
            const age = (document.querySelector('#age') as HTMLInputElement).value;
            const salary = (document.querySelector('#salary') as HTMLInputElement).value;
            const status = (document.querySelector('#status') as HTMLInputElement).value;
            const id = (document.querySelector('#id') as HTMLInputElement).value;
            try {
                const response = await axios.patch(`http://localhost:3000/persona/${id}`, {
                    "cPerNombre": username,
                    "cPerApellido": lastname,
                    "cPerDireccion": address,
                    "cPerFecNac": birthdate,
                    "nPerEdad": age,
                    "nPerSueldo": salary,
                    "cPerEstado": status
                });
                console.log(response)
                if (response.status === 200) {
                    window.location.href = '/users';
                } else {
                    alert('Error al crear el usuario');
                }
            } catch (error) {
                alert('Error al crear el usuario');
            }
        });
    </script>
</Layout>
