---
import Layout from "../../layout/Layout.astro";
import axios from "axios";


	const response = await axios.get("http://localhost:3000/persona");
	const people = response.data;
	console.log(people)
---

<Layout route="user" title="Cexpe | Personas">
	<div class="mx-auto max-w-screen-lg" >

		<div class="h-20"/>
	<a href="/users/create" class="bg-blue-700 hover:bg-blue-800 p-2 rounded-full font-semibold text-white mb-4 inline-flex">Crear usuario</a>
	<h1>Lista de Personas</h1>
	<ul class="flex flex-col" >
        {
            people.map((person) => (
				<li>
                    <a href={`users/${person.nPerCodigo}`}
					class="grid grid-cols-8 text-center 
					hover:text-white hover:bg-red-500
					"
					>
					<span>{person.cPerNombre}</span>
					<span>{person.cPerApellido}</span>
					<span>{person.cPerDireccion}</span>
					<span>{person.cPerFecNac}</span>
					<span>{person.nPerEdad}</span>
					<span>{person.cPerSexo}</span>
					<span>{person.nPerSueldo}</span>
					<span>{person.cPerRnd}</span>
					
					</a>
                </li>
            ))
        }
    </ul>
	</div>
  	
</Layout>